@model DatabaseAccess.SessionTable

@{
    ViewBag.Title = "Session";
}


<div class="container-fluid">
<h2>Details</h2>
    <h4>Session</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Session
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Start Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            End Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            User
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserTable.FullName)
        </dd>

    </dl>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.SessionID }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Back to List", "Index", new { @class = "btn btn-default" })
    </p>
</div>
