@model IEnumerable<DatabaseAccess.ProgramSessionTable>

@{
    ViewBag.Title = "Index";
}
<p>
    @Html.ActionLink("New Program Session", "Create", null, new { @class = "btn btn-success" })
</p>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Program Session</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Select Session
                        </th>
                        <th>
                            Select Program
                        </th>
                        <th>
                            Details
                        </th>
                        <th>
                            Registration Date
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            User
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.SessionTable.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProgramTable.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Details)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RegDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserTable.FullName)
                            </td>
                            <td class="btn-group">
                                @Html.ActionLink("Edit", "Edit", new { id = item.ProgramSessionID }, new { @class = "btn btn-primary" })
                                @Html.ActionLink("Details", "Details", new { id = item.ProgramSessionID }, new { @class = "btn btn-info" })
                                @Html.ActionLink("Delete", "Delete", new { id = item.ProgramSessionID }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }

                </tbody>
            </table>

        </div>
    </div>
</div>

